@font-face {
    font-family: 'DINRoundPro-black';
    src: url('./assets/fonts/DINRoundPro-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color:  #e11d48;
}

* {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}


::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}


.logo-font {
    font-family: 'DINRoundPro-black', sans-serif;
    background-color: var(--primary-color);
    padding: .1em;
    border-radius: .1em;
}



.menu-bg-image { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/backgroundMenu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-benefits-section {
    --timing: .2s;
    transition: all var(--timing) ease-out;
    min-height: 25em;
}

.list-benefits {
    height: 100%;
    transition: all var(--timing) ease-out;

}

.list-benefits > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    width: 25%;
    transition: all var(--timing) ease-out;
}

.list-benefits > li > h3 {
    font-weight: 700;
    text-align: center;
}

.list-benefits > li > div{
    transition: all var(--timing) ease-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 5em;
    height: 5em;
    padding: 1.5em;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.list-benefits > li > div > p{
    opacity: 0;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    transition: all var(--timing) ease-out;
}

.list-benefits > li > div > img{
    width: 4em;
    transition: all var(--timing) ease-out;
}

.list-benefits > li > div:hover{
    cursor: pointer;
    border-radius: .5em;
    height: 15em;
    width: 15em;
    background-color: var(--primary-color);
}

.list-benefits > li > div:hover p{
    opacity: 100;
    transition: all var(--timing) ease-out;
}