:root {
    --task-color-pendent: #ef4444;
}

.container-task {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.column-task {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.column-task > h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.itens-tasks{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-item {
    --task-iten-wh: 15em;
    width: var(--task-iten-wh);
    height: var(--task-iten-wh);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: .2em;
    background: gray;
    
    position: relative;

    overflow: auto;
}

.task-item > h1 {
    width: 60%;
}

.task-item > p {
    overflow: auto;
}

.task-item > h1, .task-item > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.task-item > h2, .task-item >  p {
    width: 100%;
}



.task-bar {
    position: absolute;
    width: 5em;
    left: 94%;
    top: 3%;
    transform: translateX(-94%);
    display: flex;
    gap: 1em;
}

.task-bar > button {
    width: 50%;
}

.task-bar > img {
    width: 100%;
}

.form-update-task {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form-update-task > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.form-update-task > div > label{
    font-size: .8em;
    cursor: pointer
}

.form-update-task > div > input, .form-update-task > div > textarea, .form-update-task > div > select{
    width: 100%;
    border-radius: .1em;
    padding: .5em .5em;
}


.form-update-task > div > textarea{
    min-height: 4em;
    resize: none;
}
 

.cancel-edit {
    position:relative;
    width: 100%;
    height: 100%;
}

.cancel-edit::after,
.cancel-edit::before {
    content: "";
    position: absolute;
    transform-origin: center;
    width: 100%;
    height: 4px;
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 50px;
}

.cancel-edit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cancel-edit::before {
    transform: translate(-50%, -50%) rotate(45deg);
}


.status-options > div > label:hover, .status-options > div > input:hover{
    cursor: pointer;
}

@media (max-width: 860px) {
    .container-task {
        flex-direction: column;
        align-items: center;
        gap: 3em
    }

    .column-task{
        width: 100%;
    }

    .column-task > h2 {
        font-size: 2em;
    }

    .itens-tasks{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .task-item {
        width: 100vw;
        height: 100vw;
        padding: 2em;
        gap: 1em;
    }

    .task-item > h1{
        font-size: 2em;
    }

    .task-item > h2{
        font-size: 1em;
    }

    .task-item > p{
        font-size: 1em;
    }

    .task-bar {
        width: 6em;
    }
    
    .form-update-task {
        margin: 2em 0;
    }
}